#root {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  height:100vh
}

.canvas-scroll{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh !important;
  height: 100dvh !important;
  width: 200vw !important;
  margin-left:-50%;
  overflow: hidden;
  transition: all 0.3s;

}
.canvas{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh !important;
  height: 100dvh !important;
  width: 100vw !important;
}
.canvas-welcome{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh !important;
  height: 100dvh !important;
  width: 100vw !important;
  z-index: 100 !important;
}

.background{
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  background-color: #000;
}


.ui{
  z-index: 100;
  font-family: "Darumadrop One", serif;
  font-weight: 400;
  font-style: normal;
  user-select: none;
  padding-top:10dvh;
  padding-top:10vh;
}

.ui-title-wrapper{
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:10vh

}

.ui-title-text{
  color: #fff;
  font-size: 6dvh;
  position: relative; 
  font-family: "Darumadrop One", serif;
  display: flex;
}

.ui-title-text-back{
  font-size: 3dvh;
  position: absolute; font-family: "Darumadrop One", serif;
  text-shadow: 0 0 20px rgba(0,0,0,0.5);
  display: flex;
}


.row-icon{display: flex;}
.alert-icon{
  font-size: 2vh;
  color: #fff;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.4);
  position: absolute;
  right: -3vh;
}


.ui-right{
  z-index: 100;
  font-family: "Darumadrop One", serif;
  font-weight: 400;
  font-style: normal;
  user-select: none;
  font-size:2vh;
  width:auto;
  position:fixed;
  right:2dvh;
  right:2vh;
  top:2dvh;
  top:2vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  text-align: right;
  color:#fff !important;
  text-shadow: 4px 4px 10px rgba(0,0,0,0.6);
}

.ui-row{
  display: flex;
  justify-content: space-between;
  align-items: center;  
  font-size:3vh;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.4);
  width: 100%;
  position: relative;
  
}


.ui-row-small{
  display: flex;
  justify-content: space-between;
  align-items: center;  
  font-size:2vh;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.4);
  color:#fff !important;
  width: 100%;
}

.ui-row-small-icon{
  
  font-size:1.8vh;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.4);
  color:#fff !important;
  padding:1vh;
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 2vh;
  margin:1vh;
  width:100%;
  text-align: center;
  box-shadow: inset 10px 10px 10px rgba(255,255,255,0.3), 10px 10px 10px rgba(0,0,0,0.1);
}

.ui-acknowledge{
  backdrop-filter: blur(10px);
  z-index: 100;
  font-family: "Darumadrop One", serif;
  font-weight: 400;
  font-style: normal;
  position: fixed;
  bottom:0;
  left:0;
  font-size:2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome-wrapper{
  z-index: 100;
  position:fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(20px);
  transition: all 0.3s;
}

.ui-wrapper{
  z-index: 100;
  position:fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
  pointer-events: none;
}

.reset{
  font-size: 2vh;
  padding: 1vh;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  margin: 1vh;
  justify-self: center;
  z-index: 100;
  position:fixed;
}

.dead-text{
  font-size: 3vh;
  color: #fff;
  text-shadow: 1px 1px 10px rgba(0,0,0,0.4);
}


.reset-button{
  font-size: 4vh;
  padding: 1vh 4vh;
  border-radius: 5px;
  color: #fff;
  margin: 1vh;
  backdrop-filter: blur(20px);
  border: 1px solid #fff;
  cursor: pointer;
  z-index: 100;
  pointer-events:auto;
  transition: all 0.3s;
}


.reset-button:hover{

  backdrop-filter: blur(10px);

}



.ui-href{
  color:#fff
}

.ui-html{
  margin-left: -50vw;
  margin-top: -48vh;
  margin-top: -48dvh;
  padding-left: 2vh;
  padding-left: 2dvh;
  height: 96vh !important;
  height: 96dvh !important;
  width: 14vh;
  width: 14dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  position: relative;
}

.ui-home-button{
  position: fixed;
  z-index:1000;
  background-color: red;

}

.select-button-label{
  margin-top:12vh;
  width:10vh;
  margin-left:-5vh;
  font-size:2vh;
  font-family: "Darumadrop One", serif;
  font-weight: 400;
  font-style: normal;
  color:#fff;
  border: 2px dotted #fff;
  border-radius: 1vh;
}